/* sidebar-content */
.sidebar-content{
    padding: 15px;
    background: var(--dark-gradient);
    flex: 1 1 100%;
    overflow: hidden;
    border-radius: 8px;
}
.sidebar-content .title h1{
    color: var(--white);
    padding: 15px;
    font-size: 22px;
}
.sidebar-content .seperator{
    height: 1px;
    background-image: linear-gradient(to right, transparent, var(--grey), transparent);
    margin-top: 5px;
}
.sidebar-content .icon,
.sidebar-content span,
.sidebar-content ul li.active a:hover .icon,
.sidebar-content ul li.active a:hover span{
    color: var(--base);
    transition: all 300ms;
}
.sidebar-content .icon-sm{
    font-size: 10px;
}
.sidebar-content .expand .icon-sm,
.sidebar-content ul li:has(.sub-menu li.active) .icon-sm{
    transform: rotateZ(90deg);
}
.sidebar-content ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.sidebar-content ul li .btn-expandable,
.sidebar-content ul li a{
    padding: 15px 25px;
    color: var(--base);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    transition: all 300ms;
}
.sidebar-content ul li .btn-expandable:hover,
.sidebar-content ul li a:hover{
    cursor: pointer;
    background: var(--base);
}
.sidebar-content ul li .btn-expandable:hover .icon,
.sidebar-content ul li .btn-expandable:hover span,
.sidebar-content ul li a:hover .icon,
.sidebar-content ul li a:hover span{
    color: var(--text);
}
.sidebar-content ul li.active .btn-expandable,
.sidebar-content ul li.active a{
    background-image: var(--btn-gradient);
}
.sidebar-content ul li.expand,
.sidebar-content ul li:has(.sub-menu li.active)
{
    background: var(--nav-dark);
    border-radius: 4px;
}
.sidebar-content .sub-menu {
    padding: 5px;
    margin-left: 10px;
    overflow: hidden;
}
.sidebar-content ul li:not(.expand) .sub-menu{
    display: none;
}
.sidebar-content ul li:has(.sub-menu li.active) .sub-menu{
    display: block;
}
.sidebar-collapsed .sidebar-content ul{
    margin-top: 60px;
}
.sidebar-collapsed .sidebar-content ul li span,
.sidebar-collapsed .sidebar-content ul li span + i{display: none;}
.sidebar-collapsed .sidebar-content .title{
    display: none;
}
.sidebar-collapsed .sidebar-content .sub-menu{
    margin: 0;
    padding: 0;
    margin: 0 2px;
    border-top: solid 1px var(--nav-light);
}
/* topbar-content */
.topbar{
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 20px;
}
.topbar-content {
    display: flex;
    justify-content: space-between;
    background-color: var(--whiteo);
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    backdrop-filter: blur(3px);
}
.topbar-content h2{
    font-size: 18px;
    margin: 0;
}
.topbar-content .actions{
    display: flex;
    gap: 10px;
}
.topbar-content .actions > span {
    position: relative;
}
.topbar .top-menu{
    position: absolute;
    display: none;
    top: 100%;
    background-color: var(--white);
    border-radius: 8px;
    padding: 15px;
    min-width: 180px;
    right: 0;
    box-shadow: 0 0 15px -8px var(--grey);
    border: solid 1px var(--grey-l);
    transition: all 300ms;
}
.topbar .icon-btn:hover .top-menu{display: block; transition-delay: 1s;}
.topbar .top-menu .user{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-l);
    padding-bottom: 10px;
    border-bottom: solid 1px var(--base);
}
.topbar .top-menu p{
    display: flex;
    align-items: center;
    gap: 13px;
    margin: 0;
}
.topbar .top-menu p:not(.user){
    padding: 10px;
    border-radius: 4px;
}
.topbar .top-menu p:not(.user):hover{
    background-color: var(--base);
}
.topbar .top-menu img{
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    box-shadow: 0 0 0px 4px var(--base);
}

/* Form Input */
.form-input{
    display: flex;
    flex-direction: column;
    position: relative;
}
.form-input label{
    position: absolute;
    left: 11px;
    top: 12px;
    background: linear-gradient(0deg, var(--white) 8px, transparent 6px);
    padding: 0 5px;
    pointer-events: none;
    transition: all 300ms;
}
.form-input input,
.form-input textarea{
    outline: none;
    margin-top: 3px;
    padding: 8px 15px;
    border-radius: 4px;
    border: solid 1px var(--grey);
}
.form-input textarea{
    height: 100%;
}
.form-input input:focus + label,
.form-input textarea:focus + label,
.form-input input:not(:placeholder-shown) + label,
.form-input textarea:not(:placeholder-shown) + label{
    top: -4px;
    font-size: 10px;
}
.form-input input:focus,
.form-input textarea:focus{
    border-color: var(--primary);
}
.form-input input:focus +label,
.form-input textarea:focus +label{
    color: var(--primary);
}

/* Table */
.table {
    border-spacing: 0 10px;
    border-collapse:separate;
}
.table td{
    padding: 25px 15px;
    color: var(--text);
}
.dark-table .table td{
    background-color: var(--base);
}
.small-table .table td{
    padding: 15px;
}
.table th{
    padding: 15px 15px;
    font-size: 15px;
    color: var(--text);
}
.table th{
    background-color: transparent !important;
    text-transform: capitalize;
}
.table tr td:nth-of-type(1),
.table tr th:nth-of-type(1){
    padding-left: 25px;
    border-radius: 8px 0 0 8px;
}
.table tr td:nth-last-of-type(1){
    padding:20px 25px 10px 15px;
    border-radius: 0 8px 8px 0;
}
.table tr td img  {
    width: 40px;
    border-radius: 4px;
}
.small-table .table tr td:nth-last-of-type(1){
    padding: 10px 25px 10px 15px;
    width: 10%;
}
.pagination{
    display: flex;
    gap: 10px;    
    justify-content: center;
}
.no-data-row{
    border-radius: 8px;
    padding: 10px;
    background-color: var(--grey-l);
    margin: 0;
    margin-top: 20px;
}
.dark-table .icon-btn:hover{
    background-color: var(--white);
}

/* Combobox */
.combobox {
    position: relative;
}
.combobox .combobox-btn{
    display: flex;
    justify-content: space-between;
    outline: none;
    padding: 9px 15px;
    border-radius: 4px;
    margin-top: 3px;
    cursor: pointer;
    border: solid 1px var(--grey);
}
.combobox p{
    margin: 0;
}
.combobox .combobox-items{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 8px 15px;
    border-radius: 4px;
    border: solid 1px var(--grey);
    border-top: none;
    background-color: var(--white);
    max-height: 0px;
    overflow: auto;
    z-index: -1;
}
.combobox .combobox-btn.open + .combobox-items{
    max-height: 155px;
    top: 100%;
    z-index: 1;
}
.combobox .combobox-items p:nth-of-type(1){
    margin-top: 10px;
}
.combobox .combobox-items p{
    padding: 8px;
    border-radius: 4px;
}
.combobox .combobox-items p:hover{
    background-color: var(--base);
}

/* slide in */
.slidein{
    position: fixed;
    padding: 25px;
    right: -100%;
    top: 0;
    height: 100vh;
    background-color: var(--white);
    z-index: 9;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 20px -10px var(--nav-light);
    min-width: 350px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    transition: all 300ms;
}
.slidein.show{
    right: 0;
}
.slidein .content{
    overflow: auto;
}